body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
    
    color: #fff;
}

#nui {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
